/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --background-light: rgba(0, 0, 0, 0.6);
  --text-color: rgb(233, 233, 233);
  --background-dark: rgba(0, 0, 0, 0.6);
}

body {
  background: url("./images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-items: center;
  grid-template-rows: 200px 1fr;
  height: 100vh;
  width: 100%;
}

#heading {
  font-size: 3rem;
}

header {
  background-color: black;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  text-align: center;
  align-items: center;
  color: var(--text-color);
}

button {
  background-color: black;
  color: var(--text-color);
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

#content {
  height: 100%;
  width: 800px;
  background-color: var(--background-light);
  align-self: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}

img {
  width: 300px;
  border-radius: 200px;
}

.menu-item {
  width: 250px;
  height: 300px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--background-dark);
}

.menu-text {
  font-size: 1rem;
}

.item-img {
  width: 150px;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 40px;
  padding: 60px;
}

.icon {
  width: 30px;
  height: 30px;
}

.contact {
  display: flex;
  gap: 20px;
}
